 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	<form action="obtenerInfo" method="post">
		<input type="text" name="search">
		<input type="submit" name="submit" value="search for information">
	</form>
<form method="post" action="obtenerInfo">
	<input type="submit" name="submit" value="search for information">
</form>
<% if (obj) { %>
		<% for(var i=0; i<obj.length; i++) {%>
   				<li><%= obj[i]['gigTitle'] %></li>
		<% } %>
<% } %>
</body>
</html>